@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: tektur, sans-serif;
    }

    .button {
        @apply flex items-center justify-center p-3 rounded-2xl text-slate-950 bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-green-400 group-hover:to-emerald-600 select-none;
    }

}

@font-face {
    font-family: matrixFont;
    src: url(./matrixFont.ttf);
}

/* LAVA BUBBLES */
.blobb {
    fill: url(#lavaGradient);
}

.glow {
    filter: url(#glowing);
}

.metasvg {
    position: fixed;
    height: 110vh;
    width: 110vw;
    top: -20px;
    left: -20px;
    overflow: hidden;
}

.metaballs {
    position: fixed;
    z-index: 1;
    overflow: hidden;
}

/* LAVA BUBBLES END*/